<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lehigh.cse.memcare" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Login Activity -->
        <activity
            android:name="ui.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name="ui.registration.user_registration.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.registration.user_registration.RegistrationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name="ui.home.HomeActivity"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.home.HomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Construction Activity -->
        <activity
            android:name="ui.construction.face_recognition_construction_init.ConstructionActivity"
            android:label="@string/title_activity_create_test"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.construction.ConstructionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Face Recognition Construction -->
        <activity
            android:name="ui.construction.face_recognition_construction.FaceRecognitionConstructionActivity"
            android:label="@string/title_activity_face_recognition_construction"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.construction.FaceRecognitionConstructionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Register Patient Activity -->
        <activity
            android:name="ui.registration.patient_registration.RegisterPatientActivity"
            android:label="@string/title_activity_register_patient"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.registration.RegisterPatientActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Select Test Activity -->
        <activity
            android:name="ui.administer.administer_selectTest"
            android:label="@string/title_activity_give_test"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.registration.selectTest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Take Test Activity -->
        <activity
            android:name="ui.administer.adminster_takeTest"
            android:label="@string/title_activity_adminster_take_test"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.registration.takeTest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Anayalsis -->
        <activity
            android:name="ui.Results.Anaylsis"
            android:label="@string/title_activity_anaylsis"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="lehigh.cse.memcare.ui.anaylsis" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Dropbox authentication -->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-mp95yxmhtyz7d5d" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name="ui.Results.ViewPastResults"
            android:label="@string/title_activity_view_past_results"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
